USE [master]
GO
/****** Object:  Database [HRManagementSystem]    Script Date: 29/03/2026 10:51:39 PM ******/
IF EXISTS (SELECT * FROM sys.databases WHERE name = 'HRManagementSystem')
BEGIN
    DROP DATABASE [HRManagementSystem]
END
GO
CREATE DATABASE [HRManagementSystem]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HRManagementSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HRManagementSystem]
GO
/****** Object:  Table [dbo].[Attendance]    Script Date: 29/03/2026 10:51:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attendance](
	[AttendanceID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NULL,
	[AttendanceDate] [date] NULL,
	[CheckIn] [datetime] NULL,
	[CheckOut] [datetime] NULL,
	[DeviceIP] [varchar](50) NULL,
	[Status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[AttendanceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contracts]    Script Date: 29/03/2026 10:51:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contracts](
	[ContractID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NULL,
	[ContractType] [nvarchar](50) NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NULL,
	[ContractSalary] [decimal](18, 2) NULL,
	[Status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ContractID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 29/03/2026 10:51:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[DepartmentID] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[Status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 29/03/2026 10:51:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Gender] [nvarchar](10) NULL,
	[DoB] [date] NULL,
	[Email] [varchar](100) NULL,
	[Phone] [varchar](20) NULL,
	[Address] [nvarchar](255) NULL,
	[HireDate] [date] NULL,
	[DepartmentID] [int] NULL,
	[PositionID] [int] NULL,
	[Status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LeaveRequests]    Script Date: 29/03/2026 10:51:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeaveRequests](
	[LeaveID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[LeaveType] [nvarchar](50) NULL,
	[Reason] [nvarchar](255) NULL,
	[Status] [nvarchar](20) NULL,
	[ApprovedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[LeaveID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payroll]    Script Date: 29/03/2026 10:51:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payroll](
	[PayrollID] [int] IDENTITY(1,1) NOT NULL,
	[ContractID] [int] NULL,
	[EmployeeID] [int] NULL,
	[Month] [int] NULL,
	[Year] [int] NULL,
	[BaseSalary] [decimal](18, 2) NULL,
	[OvertimePay] [decimal](18, 2) NULL,
	[Deduction] [decimal](18, 2) NULL,
	[Bonus] [decimal](18, 2) NULL,
	[NetSalary] [decimal](18, 2) NULL,
	[Status] [nvarchar](50) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PayrollID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Positions]    Script Date: 29/03/2026 10:51:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Positions](
	[PositionID] [int] IDENTITY(1,1) NOT NULL,
	[PositionName] [nvarchar](100) NOT NULL,
	[BaseSalary] [decimal](18, 2) NULL,
	[Status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PositionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Settings]    Script Date: 29/03/2026 10:51:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Settings](
	[SettingID] [int] IDENTITY(1,1) NOT NULL,
	[SettingKey] [varchar](50) NOT NULL,
	[SettingValue] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[Status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[SettingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 29/03/2026 10:51:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NULL,
	[Username] [varchar](50) NOT NULL,
	[PasswordHash] [varchar](255) NOT NULL,
	[Role] [nvarchar](20) NULL,
	[LastLogin] [datetime] NULL,
	[Status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Attendance] ON 

INSERT [dbo].[Attendance] ([AttendanceID], [EmployeeID], [AttendanceDate], [CheckIn], [CheckOut], [DeviceIP], [Status]) VALUES (1, 1, CAST(N'2026-02-14' AS Date), CAST(N'2026-02-14T08:06:00.000' AS DateTime), CAST(N'2026-02-14T17:08:00.000' AS DateTime), N'192.168.1.30', N'Ontime')
INSERT [dbo].[Attendance] ([AttendanceID], [EmployeeID], [AttendanceDate], [CheckIn], [CheckOut], [DeviceIP], [Status]) VALUES (2, 2, CAST(N'2026-02-14' AS Date), NULL, NULL, N'192.168.1.46', N'Absent')
INSERT [dbo].[Attendance] ([AttendanceID], [EmployeeID], [AttendanceDate], [CheckIn], [CheckOut], [DeviceIP], [Status]) VALUES (3, 3, CAST(N'2026-02-14' AS Date), NULL, NULL, N'192.168.1.34', N'Absent')
GO
SET IDENTITY_INSERT [dbo].[Attendance] OFF
GO
SET IDENTITY_INSERT [dbo].[Contracts] ON 

INSERT [dbo].[Contracts] ([ContractID], [EmployeeID], [ContractType], [StartDate], [EndDate], [ContractSalary], [Status]) VALUES (1, 1, N'Full-time', CAST(N'2020-01-10' AS Date), NULL, CAST(25000000.00 AS Decimal(18, 2)), N'Valid')
INSERT [dbo].[Contracts] ([ContractID], [EmployeeID], [ContractType], [StartDate], [EndDate], [ContractSalary], [Status]) VALUES (2, 2, N'Full-time', CAST(N'2021-03-12' AS Date), NULL, CAST(22000000.00 AS Decimal(18, 2)), N'Valid')
INSERT [dbo].[Contracts] ([ContractID], [EmployeeID], [ContractType], [StartDate], [EndDate], [ContractSalary], [Status]) VALUES (3, 3, N'Full-time', CAST(N'2022-01-15' AS Date), NULL, CAST(18000000.00 AS Decimal(18, 2)), N'Valid')
SET IDENTITY_INSERT [dbo].[Contracts] OFF
GO
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([DepartmentID], [DepartmentName], [Description], [Status]) VALUES (1, N'Human Resources', N'Quản lý nhân sự', N'Active')
INSERT [dbo].[Departments] ([DepartmentID], [DepartmentName], [Description], [Status]) VALUES (2, N'Information Technology', N'Phát triển phần mềm', N'Active')
INSERT [dbo].[Departments] ([DepartmentID], [DepartmentName], [Description], [Status]) VALUES (3, N'Finance', N'Quản lý tài chính', N'Active')
SET IDENTITY_INSERT [dbo].[Departments] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([EmployeeID], [FullName], [Gender], [DoB], [Email], [Phone], [Address], [HireDate], [DepartmentID], [PositionID], [Status]) VALUES (1, N'Nguyen Van Admin', N'Male', CAST(N'1990-01-01' AS Date), N'admin@company.com', N'0900000001', N'Hà Nội', CAST(N'2020-01-10' AS Date), 2, 10, N'Active')
INSERT [dbo].[Employees] ([EmployeeID], [FullName], [Gender], [DoB], [Email], [Phone], [Address], [HireDate], [DepartmentID], [PositionID], [Status]) VALUES (2, N'Tran Thi HR', N'Female', CAST(N'1993-02-10' AS Date), N'hr@company.com', N'0900000002', N'Hà Nội', CAST(N'2021-03-12' AS Date), 1, 1, N'Active')
INSERT [dbo].[Employees] ([EmployeeID], [FullName], [Gender], [DoB], [Email], [Phone], [Address], [HireDate], [DepartmentID], [PositionID], [Status]) VALUES (3, N'Le Van Dev1', N'Male', CAST(N'1996-05-20' AS Date), N'dev1@company.com', N'0900000003', N'Hà Nội', CAST(N'2022-01-15' AS Date), 2, 3, N'Active')
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[LeaveRequests] ON 

INSERT [dbo].[LeaveRequests] ([LeaveID], [EmployeeID], [StartDate], [EndDate], [LeaveType], [Reason], [Status], [ApprovedBy]) VALUES (1, 3, CAST(N'2026-03-20T00:00:00.000' AS DateTime), CAST(N'2026-03-21T00:00:00.000' AS DateTime), N'Annual Leave', N'Đi du lịch', N'Approved', 2)
INSERT [dbo].[LeaveRequests] ([LeaveID], [EmployeeID], [StartDate], [EndDate], [LeaveType], [Reason], [Status], [ApprovedBy]) VALUES (2, 4, CAST(N'2026-03-18T00:00:00.000' AS DateTime), CAST(N'2026-03-18T00:00:00.000' AS DateTime), N'Sick Leave', N'Bị ốm', N'Pending', NULL)
INSERT [dbo].[LeaveRequests] ([LeaveID], [EmployeeID], [StartDate], [EndDate], [LeaveType], [Reason], [Status], [ApprovedBy]) VALUES (3, 7, CAST(N'2026-03-25T00:00:00.000' AS DateTime), CAST(N'2026-03-25T00:00:00.000' AS DateTime), N'Personal Leave', N'Việc gia đình', N'Approved', 2)
SET IDENTITY_INSERT [dbo].[LeaveRequests] OFF
GO
SET IDENTITY_INSERT [dbo].[Payroll] ON 

INSERT [dbo].[Payroll] ([PayrollID], [ContractID], [EmployeeID], [Month], [Year], [BaseSalary], [OvertimePay], [Deduction], [Bonus], [NetSalary], [Status], [CreatedAt]) VALUES (1, 3, 3, 3, 2026, CAST(18000000.00 AS Decimal(18, 2)), CAST(2000000.00 AS Decimal(18, 2)), CAST(500000.00 AS Decimal(18, 2)), CAST(1000000.00 AS Decimal(18, 2)), CAST(20500000.00 AS Decimal(18, 2)), N'Approved', CAST(N'2026-03-15T16:58:02.980' AS DateTime))
INSERT [dbo].[Payroll] ([PayrollID], [ContractID], [EmployeeID], [Month], [Year], [BaseSalary], [OvertimePay], [Deduction], [Bonus], [NetSalary], [Status], [CreatedAt]) VALUES (2, 4, 4, 3, 2026, CAST(18000000.00 AS Decimal(18, 2)), CAST(1000000.00 AS Decimal(18, 2)), CAST(300000.00 AS Decimal(18, 2)), CAST(500000.00 AS Decimal(18, 2)), CAST(19200000.00 AS Decimal(18, 2)), N'Approved', CAST(N'2026-03-15T16:58:02.980' AS DateTime))
INSERT [dbo].[Payroll] ([PayrollID], [ContractID], [EmployeeID], [Month], [Year], [BaseSalary], [OvertimePay], [Deduction], [Bonus], [NetSalary], [Status], [CreatedAt]) VALUES (3, 5, 5, 3, 2026, CAST(26000000.00 AS Decimal(18, 2)), CAST(2000000.00 AS Decimal(18, 2)), CAST(800000.00 AS Decimal(18, 2)), CAST(2000000.00 AS Decimal(18, 2)), CAST(29200000.00 AS Decimal(18, 2)), N'Paid', CAST(N'2026-03-15T16:58:02.980' AS DateTime))
SET IDENTITY_INSERT [dbo].[Payroll] OFF
GO
SET IDENTITY_INSERT [dbo].[Positions] ON 

INSERT [dbo].[Positions] ([PositionID], [PositionName], [BaseSalary], [Status]) VALUES (1, N'HR Manager', CAST(22000000.00 AS Decimal(18, 2)), N'Active')
INSERT [dbo].[Positions] ([PositionID], [PositionName], [BaseSalary], [Status]) VALUES (2, N'HR Staff', CAST(15000000.00 AS Decimal(18, 2)), N'Active')
INSERT [dbo].[Positions] ([PositionID], [PositionName], [BaseSalary], [Status]) VALUES (3, N'Software Developer', CAST(18000000.00 AS Decimal(18, 2)), N'Active')
SET IDENTITY_INSERT [dbo].[Positions] OFF
GO
SET IDENTITY_INSERT [dbo].[Settings] ON 

INSERT [dbo].[Settings] ([SettingID], [SettingKey], [SettingValue], [Description], [Status]) VALUES (1, N'WORK_START_TIME', N'08:00:00', N'Giờ bắt đầu làm việc', N'Active')
INSERT [dbo].[Settings] ([SettingID], [SettingKey], [SettingValue], [Description], [Status]) VALUES (2, N'WORK_END_TIME', N'17:00:00', N'Giờ kết thúc làm việc', N'Active')
INSERT [dbo].[Settings] ([SettingID], [SettingKey], [SettingValue], [Description], [Status]) VALUES (3, N'LATE_GRACE_MINUTES', N'5', N'Số phút cho phép đi muộn', N'Active')
SET IDENTITY_INSERT [dbo].[Settings] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [EmployeeID], [Username], [PasswordHash], [Role], [LastLogin], [Status]) VALUES (1, 1, N'admin', N'123', N'Admin', CAST(N'2026-03-29T22:48:55.677' AS DateTime), N'Active')
INSERT [dbo].[Users] ([UserID], [EmployeeID], [Username], [PasswordHash], [Role], [LastLogin], [Status]) VALUES (2, 2, N'hr', N'123', N'HR', CAST(N'2026-03-29T22:42:59.053' AS DateTime), N'Active')
INSERT [dbo].[Users] ([UserID], [EmployeeID], [Username], [PasswordHash], [Role], [LastLogin], [Status]) VALUES (3, 3, N'dev1', N'123', N'Employee', CAST(N'2026-03-29T22:42:42.067' AS DateTime), N'Active')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [UQ__Attendan__77AAB78F08802359]    Script Date: 29/03/2026 10:51:40 PM ******/
ALTER TABLE [dbo].[Attendance] ADD UNIQUE NONCLUSTERED 
(
	[EmployeeID] ASC,
	[AttendanceDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Employee__A9D10534C0BD0C07]    Script Date: 29/03/2026 10:51:40 PM ******/
ALTER TABLE [dbo].[Employees] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Settings__01E719AD89D820CB]    Script Date: 29/03/2026 10:51:40 PM ******/
ALTER TABLE [dbo].[Settings] ADD UNIQUE NONCLUSTERED 
(
	[SettingKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E42691494F]    Script Date: 29/03/2026 10:51:40 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Users__7AD04FF0B20B67D0]    Script Date: 29/03/2026 10:51:40 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Attendance] ADD  DEFAULT (CONVERT([date],getdate())) FOR [AttendanceDate]
GO
ALTER TABLE [dbo].[Contracts] ADD  DEFAULT ('Valid') FOR [Status]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[LeaveRequests] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Payroll] ADD  DEFAULT ((0)) FOR [OvertimePay]
GO
ALTER TABLE [dbo].[Payroll] ADD  DEFAULT ((0)) FOR [Deduction]
GO
ALTER TABLE [dbo].[Payroll] ADD  DEFAULT ((0)) FOR [Bonus]
GO
ALTER TABLE [dbo].[Payroll] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('Employee') FOR [Role]
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Contracts]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Departments] ([DepartmentID])
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD FOREIGN KEY([PositionID])
REFERENCES [dbo].[Positions] ([PositionID])
GO
ALTER TABLE [dbo].[LeaveRequests]  WITH CHECK ADD FOREIGN KEY([ApprovedBy])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[LeaveRequests]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Payroll]  WITH CHECK ADD FOREIGN KEY([ContractID])
REFERENCES [dbo].[Contracts] ([ContractID])
GO
ALTER TABLE [dbo].[Payroll]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Contracts]  WITH CHECK ADD CHECK  (([EndDate] IS NULL OR [EndDate]>=[StartDate]))
GO
USE [master]
GO
